<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link href= "https://use.fontawesome.com/releases/v5.6.1/css/all.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/style_user/tools_user.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style_user/settins_user.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style_user/history_user.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style_user/employee_user.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style_user/service_user.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style_user/take_order.css" type="text/css" rel="stylesheet">

    <link href="/css/style_user/take_order.css" type="text/css" rel="stylesheet">
    <link href="/css/style_user/tools_user.css" type="text/css" rel="stylesheet">
    <link href="/css/style_user/settins_user.css" type="text/css" rel="stylesheet">
    <link href="/css/style_user/history_user.css" type="text/css" rel="stylesheet">
    <link href="/css/style_user/employee_user.css" type="text/css" rel="stylesheet">
    <link href="/css/style_user/service_user.css" type="text/css" rel="stylesheet">
    <script src="/js/js_user/initialized_user.js" defer></script>
    <script src="/js/js_user/front_logical_user.js" defer></script>
    <script src="/js/js_user/target_user.js" defer></script>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body style="background-image: url(/images/Фон.jpg)">
    <label id="trigger_user" th:text="${trigger}"></label>
    <div class="tools_admin">
        <div class="tools_img">
            <img th:src="'/img_user/'+${pers_info.getName_photo_file()}">
            <label th:text="${pers_info.getLogin()}"></label>
        </div>
        <div class="tools_button">
            <button onclick="open_product_user()" onmouseenter="hover_product_user()" onmouseleave="leave_product_user()" class="fa fa-list-alt" aria-hidden="true"></button>
            <label id="product_lab" hidden>Товары на складе</label>
            <button onclick="open_supplier_user()" onmouseenter="hover_supplier_user()" onmouseleave="leave_supplier_user()" class="fa fa-user" aria-hidden="true"></button>
            <label id="supplier_lab" hidden>Список поставщиков</label>
            <button onclick="open_history_user()" onmouseenter="hover_history_user()" onmouseleave="leave_history_user()" class="fa fa-history" aria-hidden="true"></button>
            <label id="history_lab" hidden>История заявок</label>
            <button onclick="open_settins_user()" onmouseenter="hover_settins_user()" onmouseleave="leave_settins_user()" class="fa fa-cog" aria-hidden="true"></button>
            <label id="settins_lab" hidden>Настройки</label>
            <a href="/warehouse" onmouseenter="hover_exit_user()" onmouseleave="leave_exit_user()" class="fa fa-sign-out" aria-hidden="true" ></a>
            <label id="exit_lab" hidden>Выход</label>
        </div>
    </div>
    <div class="settins_admin" id="settins_admin"hidden >
        <h2>Настройки</h2>
        <form th:action="'/update_settins_user'" method="post" enctype="multipart/form-data">
            <div class="img_settins">
                <div style="border: 2px solid silver;background-color: #6e6c6c; width: 120px;margin-left: 40px;border-radius: 10px">
                    <img th:src="'/img_user/'+${pers_info.getName_photo_file()}" id="pers_prev" >
                </div>
                <h3>Дата вашей регистрации</h3>
                <input th:value="${pers_info.getData_registration()}" placeholder="Дата регистрации" readonly>
                <input name="pers_photo" type="file" id="personal_photo" onchange="add_new_photo_user_user()">
                <label for="personal_photo">Загрузить фото</label>
            </div>
            <div class="info_settins">
                <input name="name_set" th:value="${pers_info.getName()}" placeholder="Ваше имя">
                <input name="sur_set" th:value="${pers_info.getSur_name()}" placeholder="Ваша фамилия">
                <input name="patr_set" th:value="${pers_info.getPatronymic()}" placeholder="Ваше отчество">
                <input name="phone_set" th:value="${pers_info.getPhone()}" placeholder="Ваш номер тел">
                <input name="login_set" th:value="${pers_info.getLogin()}"placeholder="Ваш логин">
                <input name="password_set" th:value="${pers_info.getPassword()}" placeholder="Ваш пароль"><br>
                <label style="position: absolute;color: lime;margin-top: 20px;"hidden>Успешно сохранено</label>
                <button id="but_update_settins" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Сохранить</button>
            </div>
        </form>
    </div>
    <div class="history_user" id="history_user" hidden >
        <div class="tools_history">
            <button onclick="open_personal_history_user()" id="list_personal_history_user">Ваша история заявок</button>
            <button onclick="open_orders_user()" id="nearest_day_user">Ближайшие поступления</button>
        </div>
        <div id="personal_history" class="personal_history" hidden>
            <h2>Ваша история заявок</h2>
            <input id="serch_hist" placeholder="Поиск и фильтрация">
            <table onkeyup="search_history()" id="table_history">
                <tr><th>Тип товара</th><th>Стоимость BY</th><th>Дата</th></tr>
                <tr th:each="history:${list_history}"><td th:text="${history.getType()}"></td><td th:text="${history.getPrice()}+' BY'"></td><td th:text="${history.getDate()}"></td></tr>
            </table>
        </div>
        <div id="nearest_day" class="nearest_day">
            <h2>Ближайшие поступления</h2>
            <input onkeyup="search_orders()" id="search_rec" placeholder="Поиск фильтрация">
            <table id="table_orders">
                <tr><th hidden>id_supplier</th><th>Тип товара</th><th>ФИО поставщика</th><th>Стоимость BY</th><th>Отменить заказ товара</th></tr><br>
                <tr th:each="order:${list_order}"><td hidden>id_supplier</td><td th:text="${order.getType()}"></td><td th:text="${order.getFIO_supplier()}"></td><td th:text="${order.getPrice()}+' BY'"></td>
                    <td><a th:href="'/cancel_order:'+${order.getId()}" class="btn btn-danger">Отменить заказ товара</a></td></tr>
            </table>
        </div>
    </div>
    <div class="supplier_user" id="supplier_user"hidden>
        <h2>Наши поставщики</h2>
        <div class="m">
            <div th:each="supplier:${all_supplier}"  class="card_emploeyy">
                <div class="card-body">
                    <img th:src="'/img_supplier/'+${supplier.getName_photo_file()}">
                    <h6 th:text="${supplier.getName()}+' '+${supplier.getSecond_name()}+' '+${supplier.getPatronymic()}" class="card-title"></h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li th:text="${supplier.getCategory()}" class="list-group-item"></li>
                    <li th:text="${supplier.getDate_settled()}" class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product_user" id="product_user"hidden >
        <div class="tools_product_user">
            <button onclick="open_product_list_user()" id="open_list_product_user">Список доступных товаров на складе</button>
            <button onclick="open_sproduct_take_order()" id="open_take_order_user">Оформить заявку</button>
        </div>
        <div class="list_servie_user_all" id="list_servie_user_all">
            <h2>Мы предлагаем</h2><br>
            <div  class="l">
                <div th:each="product:${list_product}" class="product_user_all">
                    <img th:src="'/img_product/'+${product.getName_photo_file()}">
                    <label th:text="${product.getName_product()}"></label>
                </div>
            </div>
        </div>
        <div class="take_order_all" id="take_order_all" hidden >
            <h2>Заявка</h2>
            <div  class="la" id="la">
                <div th:each="product:${list_product}" class="product_user_a">
                    <label hidden th:text="${product.getId()}"></label>
                    <img th:src="'/img_product/'+${product.getName_photo_file()}">
                    <label th:text="${product.getName_product()}"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="take_order" id="take_order" hidden>
        <h2>Параметры заявки</h2>
        <button onclick="open_take_order()" id="close_take_order" class="fa fa-times" aria-hidden="true"s></button>
        <div class="take_order_panel">
            <form th:action="'/add_order'"method="post">
                <input name="id_product" id="id_ser" hidden required>
                <input name="id_supplier" id="id_emp" hidden required>
                <label>Поставщик</label><br>
                <input name="fio_supplier" id="FIO_supplier" placeholder="Выберите поставщика"  onkeydown="return false;" required>
                <label>Время и день</label><br>
                <input name="date" id="order_date" type="datetime-local" required>
                <div  class="emp_order_list" id="emp_order_list">
                    <div th:each="emp:${all_supplier}" class="emp_order">
                        <label th:text="${emp.getId()}" hidden></label>
                        <label hidden th:text="${emp.getId_product()}"></label>
                        <img th:src="'/img_supplier/'+${emp.getName_photo_file()}">
                        <label th:text="${emp.getName()}+' '+${emp.getSecond_name()}+' '+${emp.getPatronymic()}"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Оформить</button>
            </form>
        </div>
    </div>
</body>
</html>